body{
    height:100%;
    background-image: linear-gradient(30deg,rgb(206, 229, 253),40%, rgb(255, 255, 255));
    background-repeat: no-repeat;
    
}

.canvas-container{
    min-height:400px;
    width:100%
}

