html{
    height:100%
}
body{
    height:100%;
    
}
#root{
    height:100%;
    width: 100%;
    
}
.text{
    color:#3f51b5;
}
.background-image{
    width:100%;
    background-image: url('../public/Untitled.png');
    background-size: cover; 
    background-position: center; /* Centers the background image */
    height:100%;
    background-repeat: no-repeat;
    background-size: 90%;
}
.textColor {
    color: rgb(25, 118, 210);    ;
    text-decoration: none;
}
.main{
   height:100%
    
}
.textWhite {
    color: white;
    text-decoration: none;
}
.textBlack {
    color: blue;
    text-decoration: none;
}
