body {
    background-color: #FCF6F9;
    height:100%
}
html{
    height:100%
}
#root{
    height:100%;
}
.text{
    color:rgb(62, 155, 255);
}
.background-image{
    background-image: url('../public/Untitled.jpeg');
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
    background-position: center; /* Centers the background image */
    height:100%;
    background-repeat: no-repeat;
    background-size: 60%;
}


.textWhite {
    color: white;
    text-decoration: none;
}